<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>starterkit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3EACAFE1F68DA2D00F91F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3EACB121F68DA2D00F91F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3EACB1D1F68DA2D00F91F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
